/* Defaults */
body,html{
    height:100%;
    width:100%;
    font-family: 'colab light','Segoe UI',sans-serif;
}
h3{
    font-size:30px;
}
p{
    font-size:18px;
}
p.lead{
    font-size:20px;
}
/* Owl CSS */
.owl-container{
    width:100%;
    min-height: 100%;
}
.owl-item{
    min-height:100% !important;
}
#owl-slider .item img{
    display: block;
    width: 100%;
    position:relative;
}
#owl-slider .item:after{
    content:'';
    left:0;
    top:0;
    height:100%;
    background-repeat: repeat-y;
    position:absolute;
    z-index:1;
    width:100%;
    background: -moz-linear-gradient(left, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}
.item-desc{
    position:absolute;
    top:30%;
    left:10%;
    font-size:52px;
    color:#fff;
    z-index:2;
    width:60%;
    font-family: 'colab thin','Segoe UI Light',sans-serif;
}
.title{
    width:70%;
}
.item-desc h2, .about h2{
    font-size:52px;
    padding-bottom:20px;
}
.about{
    font-size:32px;

}
.btn{
    position:absolute;
}
.item-desc{
    top:40%;
    font-size:32px;
    color:#f0f0f0;
    line-height:32px;
}
/*@media all and (max-width: 768px) and (min-width:   480px) {
    #owl-slider .item img{
        display: block;
        height: auto;
    }
}*/
@media all and (max-width: 480px) {
    #owl-slider .item img{
        display: block;
        width:100%;

    }
}

/* Bootstrap Override */

#logo {
    width:150px;
}
.navbar-brand,
.navbar-nav li a {
    line-height: 80px;
    height: 80px;
    padding-top: 0;
}
.navbar-default .navbar-toggle{
    margin-top:22px;
}
.navbar-nav > .active > a{
    background-color:#2c82c9 !important;
    color:#fff !important;
}
#main-nav{
    width:100%;
    z-index:10;
    border-bottom:4px solid #2c82c9;
    border-radius: 0;   
    margin-bottom: 0;
}
.navbar{
    border:0;
}

/* Stories */
.featured-story-container{
    border-bottom:1px solid #e7e7e7;
    padding:20px 0;
    display:inline-block;
}
.featured-story-container:hover{
    text-decoration:none;
    cursor: pointer;
}

.featured-story-container:nth-child(even){

}
.featured-story{
}
.featured-story img{
    width:100%;
    display:block;
}
.featured-story-desc h3{
    margin:0 0 5px 0;
    color:#2c82c9;
}
.featured-story-desc h4{
    font-size:20px;
    color:#000;
    font-family: 'colab','Segoe UI Light',sans-serif;
}
.featured-story-container a{
    text-decoration:none;
    color:#333;
}
.featured-story-container p{
    color:#333;
}
.full-story-container{
    min-height:100%;
    background:url('../img/stories/rainey-full-light.jpg') center center no-repeat;
    background-size:cover;
    margin-bottom:40px;
}
.full-thankyou-container{
    min-height:100%;
    background:url('../img/bg/galbraith.jpg') center center no-repeat;
    background-size:cover;
    margin-bottom:40px;
}
.full-story-text{
    position:absolute;
    top:30%;
    width:50%;
    left:25%;
    text-align:center;
}
.full-story-text h3{
    font-size:48px;
    font-family: 'colab thin', sans-serif;
}
.full-story-text h4{
    margin-bottom:20px;
}
.full-story-text p,.full-story-text a{
    font-size:22px;
    font-family: 'colab', sans-serif;
    text-decoration:none;

}
.white{
    color:white;
}
.circular{
border-radius: 100px;
border: 7px solid #fff;
width: 192px;
}
.clear-padding{
    padding: 0 !important;
}
.circular-larger {
   border-radius: 150px;
   border: 7px solid #fff;
    width: 242px; 
    position:absolute;
    left:70px;
    top:150px;

}
.circular-smaller{
   border-radius: 70px;
   border: 7px solid #fff;
    width: 152px; 
    position:absolute;
    left:20px;
    top:300px;

}
.about section , .about .container{
    padding:100px 60px 100px;
    padding-top:100px;
}
.about-header{
    background-size: cover;
    background: url('../img/bg/bg-sky.png') no-repeat;
}
.about-mission-icon{
    padding-top:50px;
}
.about-picture{
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -1; 
}
.stretch{
    width:100%;
    height:100%;
}
.about-alternate{
    background-color:#f6f6f6;
}
